body {
 font-family: Arial, Helvetica, sans-serif;
 background-color: antiquewhite;
 text-align: center;
}
header{
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}
nav{
    background-color: #34495e;
    padding: 10px;

}
nav a {
    color: white;
    text-decoration:none ;
    margin: 10px;
}
nav a:hover{
    color: yellow;
}
section{
    background-color: azure;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
ul,ol{
    list-style-position: inside;
}
footer{
    background-color: #2c3e50;
    color: aliceblue;
    padding: 10px;
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin-top: 10px;
}
